<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/src/css/style.css">
  <title>Profile Details</title>
</head>

<body>
  <h1>Profile Information</h1>

  <form action="/account-settings" method="post" class="form form--login">
    <input id="input-email" name="email" type="email" value="{{.Email}}" class="input" {{if .NewAccount}}readonly{{end}}
      {{if .OAuth}}readonly{{end}} placeholder="Email">
    <input id="input-full-name" name="fullName" type="text" value="{{.FullName}}" class="input" placeholder="Full Name">
    <input id="input-address" name="addr" type="text" value="{{.Address}}" class="input" placeholder="Address">
    <input id="input-phone" name="phone" type="tel" value="{{.Phone}}" class="input" placeholder="Phone Number">

    <div class="row">
      <button type="submit" class="button button--primary">Save and Continue</button>
      <a href="/" class="button button--secondary">Cancel</a>
    </div>
  </form>
</body>

</html>