<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/src/css/style.css">
    <title>Forgot Password</title>
</head>

<body>
    <h1>Forgot Password?</h1>

    <div class="row">
        <span>{{.ErrorMessage}}</span>
    </div>

    <form action="/forgot-password" method="post" class="form form--login">
        <input id="input-email" name="email" type="email" class="input input--email" placeholder="Email" />

        <div class="row">
            <button type="submit" class="button button--primary">Send Reset Link</button>
            <a href="/" class="button button--secondary">Back To Login</a>
        </div>
    </form>
</body>

</html>