<!DOCTYPE html>
<html>

<head>
    <style>
        /* html,
        body {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }

        body {
            background-color: #fafafa;
            font-family: Arial, Helvetica, sans-serif;
            padding: 25px;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: #2e2e2e;
        }

        .form {
            display: flex;
            flex-direction: column;
            max-width: 100%;
            width: 600px;
            margin-top: 20px;
        }

        input {
            margin-bottom: 20px;
            height: 30px;
            border: 0;
            border-radius: 4px;
            padding: 10px 20px;
            box-shadow: inset -1px 1px 2px rgb(0 0 0 / 5%);
        }

        .row {
            display: flex;
            align-items: center;
            margin-top: 20px;
        }

        .button {
            width: 100%;
            max-width: 170px;
            border: 1px solid #2e2e2e;
            border-radius: 4px;
            background-color: #2e2e2e;
            height: 40px;
            text-transform: uppercase;
            font-weight: 600;
            color: white;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 13px;
            text-decoration: none;
        }

        .button--secondary {
            background-color: transparent;
            color: #2e2e2e;
        }

        a {
            color: #2e2e2e;
        }

        @media screen and (min-width: 768px) {
            .button--secondary {
                margin-left: 25px;
            }
        } */
    </style>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/src/css/style.css">
    <title>Profile</title>
</head>

<body>
    <h1>Profile Information</h1>

    <div class="account">
        <div class="account-item">Email: {{.Email}}</div>
        <div class="account-item">Full Name: {{.FullName}}</div>
        <div class="account-item">Address: {{.Address}}</div>
        <div class="account-item">Phone Number: {{.Phone}}</div>
    </div>

    <form action="/logout" class="row">
        <a href="/account-settings" class="button button--primary">Edit Account</a>
        <button type="submit" class="button button--secondary">Log Out</button>
    </form>
</body>

</html>