<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/src/css/style.css">
    <title>Log In</title>
</head>

<body>
    <h1>Log In</h1>

    <div class="row">
        <span>{{.ErrorMessage}}</span>
    </div>

    <a href="/oauth/google" class="button button--f-w">Sign In with Google</a>

    <form action="/login" method="post" class="form form--login">
        <input id="input-email" name="email" type="email" class="input" placeholder="Email">
        <input id="input-pwd" name="pwd" type="password" class="input" placeholder="Password">

        <div class="row">
            <button type="submit" class="button button--primary">Log In</button>
            <a href="/sign-up" class="button button--secondary">Sign Up</a>
        </div>

        <div class="row">
            <a href="/forgot-password" class="link">Forgot Password?</a>
        </div>
    </form>
</body>

</html>