<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/src/css/style.css">
    <title>Reset Password</title>
</head>

<body>
    <h1>Reset Password</h1>

    <div class="row">
        <span>{{.ErrorMessage}}</span>
    </div>

    <form action="/reset-password" method="post" class="form form--login">
        <input id="input-pwd" name="pwd" type="password" class="input" placeholder="New Password"
            autocomplete="new-password">
        <input id="input-pwd-repeat" name="pwdRepeat" type="password" class="input" placeholder="Repeat New Password"
            autocomplete="new-password">

        <div class="row">
            <button type="submit" class="button button--primary">Reset</button>
            <a href="/" class="button button--secondary">Log In</a>
        </div>
    </form>
</body>

</html>