<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/src/css/style.css">
    <title>Sign Up</title>
</head>

<body>
    <h1>Sign Up</h1>
    <div class="row">{{.ErrorMessage}}</div>
    <a href="/oauth/google" class="button button--f-w">Sign Up with Google</a>
    <form action="/sign-up" method="post" class="form form--login">
        <input id="input-email" name="email" type="email" class="input" placeholder="Email">
        <input id="input-pwd" name="pwd" type="password" class="input" placeholder="Password">
        <input id="input-pwd-repeat" name="pwdRepeat" type="password" class="input" placeholder="Repeat Password"
            autocomplete="new-password">

        <div class="row">
            <button type="submit" class="button button--primary">Continue</button>
        </div>
        <div class="row">
            <span>Already Have an Account?&nbsp;</span>
            <a href="/login" class="link">Sign In</a>
        </div>
    </form>
</body>

</html>