html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fafafa;
  font-family: Arial, Helvetica, sans-serif;
  padding: 25px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #2e2e2e;
  width: 100%;
  max-width: 600px;
  margin: auto;
}

body > a {
  display: none;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: 100%;
  margin-top: 20px;
}

input {
  margin-bottom: 20px;
  border: 0;
  border-radius: 4px;
  padding: 15px 20px;
  box-shadow: inset -1px 1px 2px rgb(0 0 0 / 5%);
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}

.button {
  width: 100%;
  flex: 1 1 0;
  border: 1px solid #2e2e2e;
  border-radius: 4px;
  background-color: #2e2e2e;
  height: 40px;
  text-transform: uppercase;
  font-weight: 600;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  text-decoration: none;
}

.button--secondary {
  background-color: transparent;
  color: #2e2e2e;
}

.button--f-w {
  max-width: 100%;
  margin-bottom: 25px;
  background-color: #305edd;
  border: 1px solid #305edd;
  flex: 0 0 auto;
}

a {
  color: #2e2e2e;
}

@media screen and (min-width: 768px) {
  .button--secondary {
    margin-left: 25px;
  }
}
